header {
    font-size: 40px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.075), 0 12px 20px -8px rgba(0, 0, 0, 0.075), 0 15px 20px -8px rgba(0, 0, 0, 0.05), 0 0 10px 2px rgba(0, 0, 0, 0.025);
    color:#fff;
    background:#288;
}
