.card {
     float: left;
     overflow: hidden;
     min-height: 500px;
     margin: 20px;
     background-color: white;
     box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.075), 0 12px 20px -8px rgba(0, 0, 0, 0.075), 0 15px 20px -8px rgba(0, 0, 0, 0.05), 0 0 10px 2px rgba(0, 0, 0, 0.025);
}
 .card-header {
     position: relative;
     overflow: hidden;
     height: 200px;
}
 .card-img {
     display: block;
     position: absolute;
     width: 100%;
}
 .card-body {
     padding: 30px;
}
 .card-body h1 {
     margin: 14px 0 16px 0;
     font-size: 28px;
     line-height: 36px;
     font-weight: 400;
     text-align: center;
}
 .card-body p {
     margin: 15px auto 0 auto;
     font-size: 15px;
     line-height: 20px;
     color: #555555;
     text-align: center;
}
 
 @media screen and (min-width:768px) {
     .card-lg .card-header{
         min-height: 400px!important;
    }
     .card-lg .card-img{
         top:-100px;
    }
     .card-lg .card-body h1 {
         font-size: 34px;
         margin: 20px 0 22px 0;
    }
}